p {
  margin: 2px;
}

select {
  padding: 5px;
  width: 100%;
}

#addAccount {
  position: absolute;
  width: 8%;
  margin-left: 80%;
}

.container {
  margin-left: 10px;
  margin-top: 10px;
}

.contain {
  margin-left: 20px;
  margin-top: 20px;
}

.accountButton {
  width: 100%;
  padding: 5px;
  margin: 1px;
  text-align: left;
}

.btnNotification {
  color: #0fcbff;
  position: absolute;
  display: inline;
  text-align: right;
  background-color: white;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
  margin-top: -1px;
}

.hide {
  visibility: hidden;
}

.search {
  width: 25%;
}

.searchBox {
  width: 55%;
  border-radius: 5px;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-bottom: 5px;
}

#searchOption {
  width: 45%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;

}

.searchList {
  width: 100%;
  list-style: none;
  margin: 1px;
  padding: 12px;
  text-align: left;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid;
  border-color: #d6d6d6;
  height: 90vh;
  overflow-y: scroll;
  min-height: 700px;
}

#saveAccount {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.accountInfoBox {
  display: flex;
}

.leftInfo {
  width: 100%;
}

.rightInfo {
  width: 100%;
  border-left: 2px solid;
  padding-left: 5%;
  margin-left: 5%;
  border-color: #d6d6d6;
}

.optText {
  margin-left: 5%;
}

.generatePDF {
  margin-top: 15px;
}

.accountInfo {
  border: none;
  border-bottom: 1px solid;
  border-color: #d6d6d6;
  padding-left: 2px;
  width: 100%;
  margin-bottom: 10%;
}

.accountInfo:Focus {
  outline: none;
  border: none;
  border-bottom: 2px solid;
  border-color: #44e6ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 2px;
}

.withCheckbox {
  width: 80%
}

.para {
  font-weight: bold;
  color: #595959;
}
